langchain_text_splitters==0.3.7
uvicorn==0.35.0
chromadb==1.0.20
fastapi==0.116.1
openai==1.109.1
pymilvus==2.6.3
pymupdf==1.26.6
sqlalchemy==2.0.44
psycopg2-binary==2.9.11
redis==7.1.0
locust==2.42.6